@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Alterações para layout de footer fixo */
html,
body {
  height: 100%; /* Garante que o html e body ocupem 100% */
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Altura mínima de 100% da viewport */
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Garante que o conteúdo principal cresça para empurrar o footer */
main {
  flex-grow: 1;
}